body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction; column;
  justify-content: center;
  height: 100vh;
  background: #333;
}

#game {
  width: 100%;
}

canvas {
  image-rendering: pixelated;
}
